<?xml version="1.0" encoding="UTF-8"?>
<web-app version="2.4" 
	xmlns="http://java.sun.com/xml/ns/j2ee" 
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
	xsi:schemaLocation="http://java.sun.com/xml/ns/j2ee 
	http://java.sun.com/xml/ns/j2ee/web-app_2_4.xsd">
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>SubmitServlet</servlet-name>
    <servlet-class>servlet.SubmitServlet</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>RegisterServlet</servlet-name>
    <servlet-class>servlet.RegisterServlet</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>SingleMessageServlet</servlet-name>
    <servlet-class>servlet.SingleMessageServlet</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>UpdateSingleServlet</servlet-name>
    <servlet-class>servlet.UpdateSingleServlet</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>ListSellerServlet</servlet-name>
    <servlet-class>servlet.ListSellerServlet</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>SearchSellerServlet</servlet-name>
    <servlet-class>servlet.SearchSellerServlet</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>ListGoodsServlet</servlet-name>
    <servlet-class>servlet.ListGoodsServlet</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>InsertOrderServlet</servlet-name>
    <servlet-class>servlet.InsertOrderServlet</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>ListMyOrderFoodServlet</servlet-name>
    <servlet-class>servlet.ListMyOrderFoodServlet</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>DeleteMyOrderFood</servlet-name>
    <servlet-class>servlet.DeleteMyOrderFood</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>ListFinalOrderServlet</servlet-name>
    <servlet-class>servlet.ListFinalOrderServlet</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>InsertFinalOrderServlet</servlet-name>
    <servlet-class>servlet.InsertFinalOrderServlet</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>ListOrderFoodServlet</servlet-name>
    <servlet-class>servlet.ListOrderFoodServlet</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>UserManagementServlet</servlet-name>
    <servlet-class>servlet.UserManagementServlet</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>DeleteUserServlet</servlet-name>
    <servlet-class>servlet.DeleteUserServlet</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>OrderManagementServlet</servlet-name>
    <servlet-class>servlet.OrderManagementServlet</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>UpdateOrderStateServlet</servlet-name>
    <servlet-class>servlet.UpdateOrderStateServlet</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>SellerManagementServlet</servlet-name>
    <servlet-class>servlet.SellerManagementServlet</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>InsertSellerServlet</servlet-name>
    <servlet-class>servlet.InsertSellerServlet</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>UpdateSellerServlet</servlet-name>
    <servlet-class>servlet.UpdateSellerServlet</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>ChangeSellerServlet</servlet-name>
    <servlet-class>servlet.ChangeSellerServlet</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>DeleteSellerServlet</servlet-name>
    <servlet-class>servlet.DeleteSellerServlet</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>SellerFoodServlet</servlet-name>
    <servlet-class>servlet.SellerFoodServlet</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>InsertGoodsServlet</servlet-name>
    <servlet-class>servlet.InsertGoodsServlet</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>UpdateGoodsServlet</servlet-name>
    <servlet-class>servlet.UpdateGoodsServlet</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>ChangeGoodsServlet</servlet-name>
    <servlet-class>servlet.ChangeGoodsServlet</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>DeleteGoodsServlet</servlet-name>
    <servlet-class>servlet.DeleteGoodsServlet</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>DeleteOrderServlet</servlet-name>
    <servlet-class>servlet.DeleteOrderServlet</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>UpdateMyServlet</servlet-name>
    <servlet-class>servlet.UpdateMyServlet</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>MyOrderServlet</servlet-name>
    <servlet-class>servlet.MyOrderServlet</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>UserPageServlet</servlet-name>
    <servlet-class>servlet.UserPageServlet</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>ListCarServlet</servlet-name>
    <servlet-class>servlet.ListCarServlet</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>DeleteCar</servlet-name>
    <servlet-class>servlet.DeleteCar</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>ListMyOrderServlet</servlet-name>
    <servlet-class>servlet.ListMyOrderServlet</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>SellerGoodsServlet</servlet-name>
    <servlet-class>servlet.SellerGoodsServlet</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>DeleteAOrderServlet</servlet-name>
    <servlet-class>servlet.DeleteAOrderServlet</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>GoodsDetailServlet</servlet-name>
    <servlet-class>servlet.GoodsDetailServlet</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>ShouOrderServlet</servlet-name>
    <servlet-class>servlet.ShouOrderServlet</servlet-class>
  </servlet>






































  <servlet-mapping>
    <servlet-name>SubmitServlet</servlet-name>
    <url-pattern>/SubmitServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>RegisterServlet</servlet-name>
    <url-pattern>/RegisterServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>SingleMessageServlet</servlet-name>
    <url-pattern>/SingleMessageServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>UpdateSingleServlet</servlet-name>
    <url-pattern>/UpdateSingleServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>ListSellerServlet</servlet-name>
    <url-pattern>/ListSellerServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>SearchSellerServlet</servlet-name>
    <url-pattern>/SearchSellerServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>ListGoodsServlet</servlet-name>
    <url-pattern>/ListGoodsServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>InsertOrderServlet</servlet-name>
    <url-pattern>/InsertOrderServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>ListMyOrderFoodServlet</servlet-name>
    <url-pattern>/ListMyOrderFoodServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>DeleteMyOrderFood</servlet-name>
    <url-pattern>/DeleteMyOrderFood</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>ListFinalOrderServlet</servlet-name>
    <url-pattern>/ListFinalOrderServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>InsertFinalOrderServlet</servlet-name>
    <url-pattern>/InsertFinalOrderServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>ListOrderFoodServlet</servlet-name>
    <url-pattern>/ListOrderFoodServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>UserManagementServlet</servlet-name>
    <url-pattern>/UserManagementServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>DeleteUserServlet</servlet-name>
    <url-pattern>/DeleteUserServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>OrderManagementServlet</servlet-name>
    <url-pattern>/OrderManagementServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>UpdateOrderStateServlet</servlet-name>
    <url-pattern>/UpdateOrderStateServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>SellerManagementServlet</servlet-name>
    <url-pattern>/SellerManagementServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>InsertSellerServlet</servlet-name>
    <url-pattern>/InsertSellerServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>UpdateSellerServlet</servlet-name>
    <url-pattern>/UpdateSellerServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>ChangeSellerServlet</servlet-name>
    <url-pattern>/ChangeSellerServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>DeleteSellerServlet</servlet-name>
    <url-pattern>/DeleteSellerServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>SellerFoodServlet</servlet-name>
    <url-pattern>/SellerFoodServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>InsertGoodsServlet</servlet-name>
    <url-pattern>/InsertGoodsServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>UpdateGoodsServlet</servlet-name>
    <url-pattern>/UpdateGoodsServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>ChangeGoodsServlet</servlet-name>
    <url-pattern>/ChangeGoodsServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>DeleteGoodsServlet</servlet-name>
    <url-pattern>/DeleteGoodsServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>DeleteOrderServlet</servlet-name>
    <url-pattern>/DeleteOrderServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>UpdateMyServlet</servlet-name>
    <url-pattern>/UpdateMyServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>MyOrderServlet</servlet-name>
    <url-pattern>/MyOrderServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>UserPageServlet</servlet-name>
    <url-pattern>/UserPageServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>ListCarServlet</servlet-name>
    <url-pattern>/ListCarServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>DeleteCar</servlet-name>
    <url-pattern>/DeleteCar</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>ListMyOrderServlet</servlet-name>
    <url-pattern>/ListMyOrderServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>SellerGoodsServlet</servlet-name>
    <url-pattern>/SellerGoodsServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>DeleteAOrderServlet</servlet-name>
    <url-pattern>/DeleteAOrderServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>GoodsDetailServlet</servlet-name>
    <url-pattern>/GoodsDetailServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>ShouOrderServlet</servlet-name>
    <url-pattern>/ShouOrderServlet</url-pattern>
  </servlet-mapping>
  <welcome-file-list>
    <welcome-file>index.jsp</welcome-file>
  </welcome-file-list>
</web-app>
